# HTTP Cookie File downloaded with cookies.txt by Genuinous @genuinous
# This file can be used by wget, curl, aria2c and other standard compliant tools.
# Usage Examples:
#   1) wget -x --load-cookies cookies.txt "https://laracasts.com/series?curated"
#   2) curl --cookie cookies.txt "https://laracasts.com/series?curated"
#   3) aria2c --load-cookies cookies.txt "https://laracasts.com/series?curated"
